@import "tailwindcss";

body {
  background: linear-gradient(
    to bottom,
    #000000,
    #111111,
    #1a1a1a
  );

  color: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}